In [1]:
import pandas as pd

In [2]:
Dataset = pd.read_csv("../Data/Votes_2021_11_27.csv")

In [3]:
Dataset.head()

    Votes  Score English_Name  Favourites_count  Popularity_ranking
0  677447     10   Death Note          145023.0                   1
1  668585      9   Death Note          145023.0                   1
2  519533      8   Death Note          145023.0                   1
3  247163      7   Death Note          145023.0                   1
4   82598      6   Death Note          145023.0                   1